body {
   /*font-family: 'Roboto', sans-serif;
   font-family: 'Montserrat', sans-serif;*/
}

header {
   background-color: black;
}

nav {
   /* Test */
   width: 100%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
   padding: 6px 20px;
}
nav ul li:hover {
    /* background-color: #1a2770; */
}
nav ul a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}
@media only screen and ( min-width: 480px ) {
   nav ul a {
      font-size: 1.3rem;
   }
}
@media only screen and ( min-width: 768px ) {
   nav ul a {
      font-size: 1.05rem;
      font-weight: 400;
   }
}

/* Menú Dropdown */
nav.dropdown ul {
   display: flex;
   flex-direction: column;
}
nav.dropdown ul li {
   display: flex;
   flex-direction: column;
   margin: 0 10px;
   position: relative;
}
nav.dropdown ul li ul {
   background-color: salmon;
   display: none;
   left: -.8em;
   position: relative;
   top: .4em;
   width: calc( 100% + 1.6em );
}
nav.dropdown ul li:hover ul {
   display: flex;
   flex-direction: column;    /* Técnicamente esta linea sobra si se desea desplegar verticalmente */
}
@media only screen and ( min-width: 480px ) {
   nav.dropdown ul {
      flex-direction: column;
      padding-left: 20px
   }
   nav.dropdown ul li {
      display: flex;
      margin: 2px -10px;
      position: relative;
   }
   nav.dropdown ul li ul {
      background-color: salmon;
      display: none;
      left: -22px;
      position: relative;
      top: 100%;
      z-index: 5;
   }
   nav.dropdown ul li:hover ul {
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   nav.dropdown ul li ul li {
      padding: 10px 14px;
   }
}
@media only screen and ( min-width: 768px ) {
   nav.dropdown ul {
      flex-direction: row;
   }
   nav.dropdown ul li {
      display: flex;
      padding: 12px 18px;
      position: relative;
   }
   nav.dropdown ul li ul {
      position: absolute;
      top: 100%;
   }
   nav.dropdown ul li ul li {
      padding: 10px 0;
   }
}

/* Main Menu & Search */
.menu-dropdown-search {
   display: flex;
   flex-direction: column;
   /* background-color: #FF6600; */
}
.menu-dropdown-search nav#search {
   order: -1;
}
@media only screen and ( min-width: 480px ) {
   .menu-dropdown-search {
      flex-direction: column;
      justify-content: space-between;
   }

}
@media only screen and ( min-width: 768px ) {
   .menu-dropdown-search {
      flex-direction: row;
   }
}

/* Search */
#search {
   align-items: center;
   display: flex;
   flex: 1;
   justify-content: space-between;
   order: -1;
   padding: 24px 8px;
}
#search input {
   border: none;
   border-radius: 8px;
   height: 28px;
   width: 200px;
}
#search .field-search {
   padding-right: 20px;
}
#search .menu-bar i.fa-bars {
   color: white;
   font-size: 32px;
   padding: 20px;
}
#search .menu-bar:hover {
   background-color: orange;
   display: flex;
   flex-direction: column;
   position: relative;
}
@media only screen and ( min-width: 480px ) {

}
@media only screen and ( min-width: 748px ) {
   #search {
      order: unset;
      padding: 0;
   }
   #search .menu-bar i.fa-bars {
      display: none;
   }
}
/* Slider */
section#slider {
   height: auto ;
   left: 0;
   max-width: 100%;
   position: relative;
   top: 0;
   width: auto;
}
section#slider img {
   height: auto ;
   left: 0;
   max-width: 100%;
   position: relative;
   top: 0;
   width: auto;
}
section#slider .title-slider {
   bottom: 6%;
   left: 0;
   max-width: 300px;
   position: absolute;
   /* margin: 0 auto; */
   text-align: left;
   width: 49%;
}
section#slider .title-slider h1 {
   background-color: rgb( 255, 255, 255 );
   color: black;
   display: inline;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.6em;
   font-weight: normal;
   line-height: 38px;
   padding: 4px 0 0 0;
   text-align: center;
   text-transform: uppercase;
}
@media only screen and ( min-width: 480px ) {
   section#slider .title-slider {
      bottom: 8%;
      max-width: 360px;
      width: 52%;
   }
   section#slider .title-slider h1 {
      font-size: 2em;
      line-height: 46px;
   }
}
@media only screen and ( min-width: 768px ) {
   section#slider .title-slider {
      bottom: 15%;
      max-width: 520px;
      width: 60%;
   }
   section#slider .title-slider h1 {
      font-size: 3.4rem;
      line-height: 75px;
   }
}
/* Main Content */
#content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
#content header {
   background-color: white;
}
#content header h1,
#content header h3 {
   background-color: white;
   font-family: 'Montserrat', sans-serif;
   font-weight: 100;
   margin: 0;
   padding: 0;
   text-align: center;
   text-transform: uppercase;
}
#content header h1 {
   font-size: 2rem;
   margin: .8rem 0 .1rem 0;
}
#content header h3 {
   font-size: 1rem;
   margin: .1rem 0 .8rem 0;
}
#content header span {
   color: salmon;
}
#content article {
   background-color: white;
   flex: 0 1 100%;
   flex-direction: column;
   left: 0;
   padding-top: 8px;
   position: relative;
   top: 0;
}
@media only screen and ( min-width: 480px ) {
   #content {
      flex-direction: row;
      flex-flow: wrap;
   }
   #content header {
      flex: 0 1 100%;
   }
   #content header h1 {
      font-size: 2.8rem;
      margin: 1rem 0 .1rem 0;
   }
   #content header h3 {
      font-size: .9rem;
      margin: .1rem 0 1rem 0;
   }
   #content article {
      flex: 0 1 48.5%;
   }
}
@media only screen and ( min-width: 768px ) {
   #main {
      width: 100%;
   }
   #content {
      margin: 0 auto;
      max-width: 1100px;
   }
   #content header h1 {
      font-size: 3.2rem;
      margin: 1.2rem 0 .1rem 0;
   }
   #content header h3 {
      font-size: .8rem;
      margin: .1rem 0 1.2rem 0;
   }
   #content article {
      flex: 0 1 32%;
   }
}

/* Products */
article.product img {
   height: auto;
   max-width: 720px;
   width: 100%;
}
article.product .info-product {
   display: flex;
   flex-flow: wrap;
   font-family: 'Roboto', sans-serif;
   margin-top: 8px;
   padding: 0 15px;
}

article.product .info-product h2 {
   align-self: center;
   flex: 0 1 80%;
   font-size: 1.5rem;
   margin: 6px 0 8px 0;
   text-align: center;
}
article.product .info-product p {
   align-self: center;
   flex: 1 1 80%;
   font-family: 'Roboto', sans-serif;
   font-size: 1.05rem;
   font-weight: 100;
   margin: 0;
   padding: 0;
   text-align: center;
}
article.product .info-product .price {
   flex: 0 0 100%;
   font-family: 'Roboto', sans-serif;
   font-size: 2.1rem;
   font-weight: 100;
   text-align: center;
}
article.product .size {
   background: black;
   border: 1px solid #333333;
   border-radius: 40px;
   box-sizing: border-box;
   color: white;
   font-size: 24px;
   height: 60px;
   padding: 14px 0 0 18px;
   width: 60px;
}
article.product img.profile {
   border: 1px solid #333333;
   border-radius: 40px;
   box-sizing: border-box;
   height: 60px;
   width: 60px;
}
article.product .image-profile {
   order: -1;
}
@media only screen and ( min-width: 480px ) {
   article.product .info-product {
      padding: 0;
      text-align: center;
   }
   article.product .info-product h2 {
      border: none;
      flex: 1 1 67%;
      font-size: 1rem;
      text-align: left;
   }
   article.product .info-product p {
      border: none;
      flex: 1 1 55%;
      font-size: 0.85rem;
      text-align: left;
   }
   article.product .size {
      align-self: center;
      font-size: 28px;
      height: 46px;
      left: 0;
      padding: 5px;
      position: relative;
      top: 0;
      width: 46px;
   }
   article.product .info-product .price {
       flex: 0 0 40%;
   }
   article.product .image-profile {
      border-top: .0125em solid black;
      flex: 100%;
      margin: 14px 0 8px 0;
      order: unset;
      padding: 18px 0;
   }
   article.product img.profile {
      border: none;
      height: 55px;
      left: 0;
      position: relative;
      top: 0;
      width: 55px;
   }
   article.product div.line {
      border-bottom: .0125em solid black;
      flex: 0 0 100%;
      margin: 14px 0;
      padding: 0;
   }
}
@media only screen and ( min-width: 768px ) {
   article.product .info-product h2 {
      border: none;
      flex: 1 1 74%;
      font-size: 1.2rem;
      text-align: left;
   }
   article.product .size {
      font-size: 30px;
      height: 54px;
      padding: 9px;
      width: 54px;
   }
}
