body {
   /*font-family: 'Roboto', sans-serif;*/
   font-family: 'Montserrat', sans-serif;
}

header {
   background-color: black;
}

nav {
    /* background-color: red; */
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 20px;
}
nav ul li:hover {
    /* background-color: #1a2770; */
}
nav ul a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

/* Menú Dropdown */
nav.dropdown ul {
   display: flex;
   flex-direction: column;
}
nav.dropdown ul li {
   display: flex;
   flex-direction: column;
   position: relative;
}
nav.dropdown ul li ul {
   background-color: orange;
   display: none;
   left: -.8em;
   position: relative;
   top: 1em;
   width: calc( 100% + 1.6em );
}
nav.dropdown ul li:hover ul {
   display: flex;
   flex-direction: column;    /* Técnicamente esta linea sobra si se desea desplegar verticalmente */
}
@media only screen and ( min-width: 768px ) {
   nav.dropdown ul {
      flex-direction: row;
   }
   nav.dropdown ul li {
      display: flex;
      flex: 1 1 100%;
      position: relative;
   }
   nav.dropdown ul li ul {
      background-color: orange;
      display: none;
      left: 0;
      position: absolute;
      top: 100%;
   }
   nav.dropdown ul li:hover ul {
      display: flex;
      flex-direction: column;
      width: 100%;
   }
}

/* Main Menu & Search */
.menu-dropdown-search {
   display: flex;
   flex-direction: column;
   /* background-color: #3F51B5; */
}
.menu-dropdown-search nav#search {
   order: -1;
}
@media only screen and ( min-width: 768px ) {
   .menu-dropdown-search {
      flex-direction: row;
      justify-content: space-between;
   }
   .menu-dropdown-search nav#search {
      order: unset;
   }
}

/* Search */
#search {
   align-items: center;
   display: flex;
   justify-content: center;
}
#search input {
   border-radius: 50px;
}
/* Slider */
.slider img {
   width: 100%;
}
/* Main Content */
#content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
#content header {
   background-color: white;
}
#content article {
   background-color: white;
   flex: 0 1 100%;
   flex-direction: column;
   left: 0;
   padding-top: 8px;
   position: relative;
   top: 0;
}
@media only screen and ( min-width: 480px ) {
   #content {
      flex-direction: row;
      flex-flow: wrap;
   }
   #content header {
      flex: 0 1 100%;
   }
   #content article {
      flex: 0 1 48.5%;
   }
}
@media only screen and ( min-width: 768px ) {
   #main {
      width: 100%;
   }
   #content {
      margin: 0 auto;
      max-width: 1100px;
   }
   #content article {
      flex: 0 1 32%;
   }
}

/* Products */
article.product img {
   height: auto;
   max-width: 720px;
   width: 100%;
}
article.product .info-product {
   display: flex;
   flex-flow: wrap;
   font-family: 'Roboto', sans-serif;
   margin-top: 8px;
   padding: 0 15px;
}

article.product .info-product h2 {
   align-self: center;
   flex: 0 1 80%;
   font-size: 1.5rem;
   margin: 6px 0 8px 0;
   text-align: center;
}
article.product .info-product p {
   align-self: center;
   flex: 1 1 80%;
   font-family: 'Roboto', sans-serif;
   font-size: 1.05rem;
   font-weight: 100;
   margin: 0;
   padding: 0;
   text-align: center;
}
article.product .info-product .price {
   flex: 0 0 100%;
   font-family: 'Roboto', sans-serif;
   font-size: 2.1rem;
   font-weight: 100;
   text-align: center;
}
article.product .size {
   background: black;
   border: 1px solid #333333;
   border-radius: 40px;
   box-sizing: border-box;
   color: white;
   font-size: 24px;
   height: 60px;
   padding: 14px 0 0 18px;
   width: 60px;
}
article.product img.profile {
   border: 1px solid #333333;
   border-radius: 40px;
   box-sizing: border-box;
   height: 60px;
   width: 60px;
}
article.product .image-profile {
   order: -1;
}
@media only screen and ( min-width: 480px ) {
   article.product .info-product {
      padding: 0;
      text-align: center;
   }
   article.product .info-product h2 {
      border: none;
      flex: 1 1 67%;
      font-size: 1rem;
      text-align: left;
   }
   article.product .info-product p {
      border: none;
      flex: 1 1 55%;
      font-size: 0.85rem;
      text-align: left;
   }
   article.product .size {
      align-self: center;
      font-size: 28px;
      height: 46px;
      left: 0;
      padding: 5px;
      position: relative;
      top: 0;
      width: 46px;
   }
   article.product .info-product .price {
       flex: 0 0 40%;
   }
   article.product .image-profile {
      border-top: .0125em solid black;
      flex: 100%;
      margin: 14px 0 8px 0;
      padding: 18px 0;
      order: unset;
   }
   article.product img.profile {
      border: none;
      height: 55px;
      left: 0;
      position: relative;
      top: 0;
      width: 55px;
   }
   article.product div.line {
      border-bottom: .0125em solid black;
      flex: 0 0 100%;
      margin: 14px 0;
      padding: 0;
   }
}
@media only screen and ( min-width: 768px ) {
   article.product .info-product h2 {
      border: none;
      flex: 1 1 74%;
      font-size: 1.2rem;
      text-align: left;
   }
   article.product .size {
      font-size: 30px;
      height: 54px;
      padding: 9px;
      width: 54px;
   }
}
